/******************************************************************************
 mv 
******************************************************************************/

.mv {
    background: linear-gradient(-0.7turn, $color2, $color4);
    text-align: center;
    margin: 0 0 56px;

    @include media(){
        background: linear-gradient(0.5turn, $color2, $color4);
    }
    
    &__inner {
        @include inner($padding: 0);
        display: flex;
        @include media(){
            display: block;
        }
    }

    &__textbox {
        flex: 1;
    }

    &__ttl {
        @include ttl($align: left,$padding: 1.4em 0 0.5em);
        flex: 1;
    }
    
    &__catch {
        font-size: 1rem;
        margin: 0 0 8px;
        display: block;
    }
    
    &__name {
        margin: 0 0 20px;
        display: block;
        font-family: 'Georgia', serif;
        letter-spacing: 2px;
        font-size: 3rem;
    }

    &__manual {
        color: #fff;
        padding: 10px;
        margin: 0 0 20px;
        background: $color3;
        border-radius: 8px;
        width: 130px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    &__imgbox {
        width: 30%;
        min-width: 200px;
        margin: 10px auto;
        @include media(){
            width: 80%;
            max-width: initial;
        }
    }
    
    &__img {
        @include inner($padding:0, $margin:0);
        @include media(){
            margin: 0 0 20px;
        }
    }
}