/******************************************************************************
 plan 
******************************************************************************/

.plan {
    .plan-contents {
        margin-bottom: 10rem;
        .plan-contents-item {
            width: 32.2rem;
            background: cl(white);
            margin-right: 2.7rem;
            
            .plan-contents-item-img {
                background-color: cl(white);
            }
            
            .plan-contents-item-text {
                padding: 2.3rem 2.5rem 5rem;
                color: cl(text);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 19.7rem;
                
                .plan-contents-item-title {
                    font-size: 1.6rem;
                    line-height: 1.68;
                }
                
                .plan-contents-item-price {
                    font-size: 1.4rem;
                    
                    span {
                        color: cl(red);
                    }
                }
            }
        }
    }

    .plan-featureList {
        display: flex;
        justify-content: space-between;

        .plan-featureList-item {
            width: calc((100% - 40px) / 3);
            box-sizing: border-box;
            padding: 2.3rem 2.3rem 5.3rem;
            background-color: cl(white);
            text-align: center;
            color: cl(text);

            .plan-featureList-item-img {
                width: 16rem;
                margin: 0 auto 1rem;
            }

            .plan-featureList-item-title {
                font-size: 2.8rem;
                margin-bottom: 4rem;
            }

            .plan-featureList-item-desc {
                font-size: 1.8rem;
                line-height: 1.44;
                text-align: left;
            }
        }

    }

}

