
@mixin tablet($breakpoint: 700px){
    @media only screen and (min-width:$breakpoint) {
        @content;
    }
}

@mixin pc($breakpoint: 840px){
    @media only screen and (min-width:$breakpoint) {
        @content;
    }
}

@mixin ttl($size:2rem,$weight:bold,$align:center,$padding:46px 0, $margin:0) {
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    padding: $padding;
    margin: $margin;
}

@mixin inner($width:80%,$max-width:1280px,$margin:0 auto,$padding: 0 0 64px) {
    width: $width;
    max-width: $max-width;
    margin: $margin;
    padding: $padding;
}
  
@mixin txt($font-size: 1.2rem,$margin: 0 0 12px,$padding: 0,$line-height: 1.6,$text-align: left,$font-weight: normal) {
    font-size: $font-size;
    margin: $margin;
    padding: $padding;
    line-height: $line-height;
    text-align: $text-align;
    font-weight: $font-weight;
}

//箇条書きインデントつき
@mixin txt-indent($font-size: 1.2rem,$margin: 0 0 12px,$line-height: 1.6,$text-align: left,$padding-left: 12px,$text-indent: -8px) {
    font-size: $font-size;
    margin: $margin;
    line-height: $line-height;
    text-align: $text-align;
    padding-left: $padding-left;
    text-indent: $text-indent;

    &::before{
        content: '・';
        display: inline-block;
        position: relative;
        left: -6px;
    }
}

@mixin btn-base ($width:15.5rem,$min-width:155px,$height:3.7rem,$min-height:37px,$bg-color:cl(gold),$color:#fff,$margin:0,$radius:0.5em) {
    border-radius: $radius;
    background: $bg-color;
    margin: $margin;
    display: flex;
    justify-content: center;

    a {
        width: $width;
        max-width: $min-width;
        height: $height;
        max-height: $min-height;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color;
        cursor: pointer;
        text-decoration: none;
    }
}

