@charset "UTF-8";
/******************************************************************************
  main 
******************************************************************************/
html {

  font-family: 'Shippori Mincho', serif;
  line-height: 1.5;
  font-size: 1.25vw;

  @include tablet {
    font-size: 0.5vw;
  }

  @include pc {
    font-size: 10px;
  }
}

body{ 
  color: #333;
  font-size: 1.6rem;
}

// @use "reset/reset" as *;
// @use "variable/variable" as *;
// @use "module/module" as *;
// @use "page/header" as *;
// @use "page/footer" as *;
// @use "page/mv" as *;

@import "reset/**";
@import "variable/**";
@import "module/**";
@import "page/**";

// @use "../../_include/scss/const" as *;



